DATABASE_URL="sqlserver://localhost:1433;database=TourneyManager;integratedSecurity=true;trustServerCertificate=true"

JWT_SECRET="tu-secreto-jwt-minimo-32-caracteres"
JWT_REFRESH_SECRET="tu-secreto-refresh-minimo-32-caracteres"

PORT=3001

# Dominios permitidos para CORS separados por coma
ALLOWED_ORIGINS="http://localhost:3000,https://tu-dominio.com"
